/* CSS file for about.html, tech.html
   Author: Suman Chowdhury 
   Date: 05 Oct, 2016 */

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px; 
  line-height: 1;
  color: #606c71; }


a{
  color: white;
  text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: none; }

/* Navbar CSS */

.page-header {
  color: #fff;
  text-decoration: none;
  margin: 0px;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

.page-header a:hover {
  color: white;
  text-decoration: none; 
}

@media screen and (min-width: 991px) {
  .page-header {
    padding: 10px; } }

@media screen and (min-width: 768px) and (max-width: 990px) {
  .page-header {
    padding: 10px; } }

@media screen and (min-width: 500px) and (max-width: 767px) {
  .page-header {
    padding: 10px; } }

@media screen and (max-width: 499px) {
  .page-header {
    padding: 10px; } }

.project-name {
  text-align: center;
  color: black;
}

@media screen and (min-width: 991px) {
  .project-name {
    font-size: 100px;
    padding-top: 65px;
    padding-bottom: 0px;} }

@media screen and (min-width: 768px) and (max-width: 990px) {
  .project-name {
    font-size: 75px; 
    padding-top: 65px;
    padding-bottom: 0px;} }
@media screen and (min-width: 500px) and (max-width: 767px) {
  .project-name {
    font-size: 60px; 
    padding-top: 65px;
    padding-bottom: 0px;} }

@media screen and (max-width: 499px) {
  .project-name {
    font-size: 40px;
    padding-top: 65px;
    padding-bottom: 0px;} }

.project-tagline {
  margin-bottom: 10px;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 991px) {
  .project-tagline {
    font-size: 20px; } }

@media screen and (min-width: 768px) and (max-width: 990px) {
  .project-tagline {
    font-size: 15px; } }

@media screen and (min-width: 500px) and (max-width: 767px) {
  .project-tagline {
    font-size: 12px; } }

@media screen and (max-width: 499px) {
  .project-tagline {
    font-size: 8px; } }

#clockbox {
  float: left;
}
@media screen and (min-width: 991px) {
  #clockbox {
    font-size: 20px; } }

@media screen and (min-width: 768px) and (max-width: 990px) {
  #clockbox {
    font-size: 15px; } }

@media screen and (min-width: 500px) and (max-width: 767px) {
  #clockbox {
    font-size: 12px; } }

@media screen and (max-width: 499px) {
  #clockbox {
    font-size: 8px; } }

.social {
    padding: 10px 5px 10px 5px;
    float: right;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 20px;
    text-align:center;
    margin: 0px 5px 0px 5px;
    padding: 10px;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    -o-border-radius: 5%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-google-plus:hover { 
    background: #e64522;
}

/* Main Content CSS */
 @media screen and (min-width: 991px) {
  .main {
      margin: 0 auto;
      padding: 10px;
      text-align: left;
      width: 950px;} }

@media screen and (min-width: 768px) and (max-width: 990px) {
   .main {
      margin: 0 auto;
      padding: 10px;
      text-align: left;
      width: 750px;} }

@media screen and (min-width: 500px) and (max-width: 767px) {
   .main {
      margin: 0 auto;
      padding: 10px;
      text-align: left;
      width: 450px;} }

@media screen and (max-width: 499px) {
  .main {
      margin: 0 auto;
      padding: 10px;
      text-align: left;
      width: 300px;}}

#heading {
      font-size: 200%;
      font-weight: bold;
}

  

 #box2, #box4{
  background-color: #FFDEAD;
  margin: 10px;
  padding: 10px;
   border: 1px solid black;
}
 #box1, #box3, #box5{
  background-color: #FFEBCD;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
 
.line-separator{
height:1px;
background: #BC8F8F;
}

/* Footer CSS */
 #footer{
      padding: 10px;
      color: white;
      background-color: #159957;
      background-image: linear-gradient(120deg, #155799, #159957);
      }

ul, li {
       list-style-type: none;
}

#last{
      border: 1px solid white;
      background-color: maroon;
      padding: 10px;
      margin: 0px;
}
